/* color */

$light-pink: #fef4f5;
$middle-pink: #c8918c;
$deep-pink: #9e605b;
$gray: #e4e0dd;
$light-green: #aad2d1;
$green: #2c9b94;

$main-color: $deep-pink;
$word-color: $middle-pink;
$background-color: $light-pink;
$copyright-color: $deep-pink;

/* font-size */

$font-l: 24px;
$font-m: 20px;
$font-s: 16px;

/* font-weight */
$title-weight: 700;
